
<div class="card">
  <div class="card-header">
   <div class="p-3 mb-2 bg-info text-white"><h1>  {{title}} </h1></div>
  </div>
  <div class="card-body">
  
  
  
  <table class="table">
  <thead class="thead-dark">
    <tr ng-repeat="student in students">
      <td>{{ student.sno }}</td>
      <td>{{ student.name }}</td>
      <td>{{ student.city }}</td>
      <td>{{ student.marks }}</td>
     <!--  <td><a ng-click="editStudent(student)" class="blue-button">Edit</a></td>
      <td><a ng-click="deleteStudent(student)" class="red-button">Delete</a></td> -->
  </tr>
  </thead>
 <!-- =============== content here  -->
  </tbody>
</table>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    
  </div>
</div>



