<div class="card">
  <div class="card-header">
    Edit Student
    
 <div class="form-check form-check-inline">
  <form>
  <input  type="text" id="sno" >
  <button type="submit" class="btn btn-primary">Get Student</button>
 </form>
</div>
    
  </div>
  <div class="card-body">
  
  
  <form>


  <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input type="text" class="form-control" id="name" >   
  </div>
  
  <div class="form-group">
    <label for="exampleInputEmail1">City</label>
    <input type="text" class="form-control" id="city" >   
  </div>
  
 
  
 <div class="form-group">
    <label for="exampleInputEmail1">Marks</label>
    <input type="text" class="form-control" id="marks" >   
  </div>
  
 
  

  <button type="submit" class="btn btn-primary">update</button>
</form>
    
  </div>
</div>



